<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Root.master.cs" Inherits="MasterProbe.Root" %>

<%-- 適合スイート(レイアウト編): マスターページの入れ子と、プレースホルダーの
     既定コンテンツの意味論を旧ランタイムから採取するためのサンプル。
     ここが唯一の「正解」なので、変換器の都合で内容を変えないこと。 --%>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>マスターページ検証</title>
    <asp:ContentPlaceHolder ID="cphHead" runat="server" />
</head>
<body>
    <form id="form1" runat="server">
        <div id="rootHeader">ルートヘッダー</div>

        <asp:ContentPlaceHolder ID="cphMain" runat="server" />

        <div id="rootFooter">ルートフッター</div>
    </form>
</body>
</html>
